@import "../../../style/_vars.scss";

.clear-float {
  clear: both;
}

.frontend-footer {
  height: 10%;

}

.footer-container {
  height: 100%;

  .footer-column-social, .footer-column-contact {
    margin: $pad 0;

    h3 {
      background-color: $color-primary;
      color: $color-font;
    }
  }

  .footer-column-social {
    height: calc(100%/2);

    ul li {
      padding: $pad 0 0 0;
      width: 25%;
      text-align: center;
    }
  }

  .footer-column-contact {
    height: calc(100%/2);
    * {
      float: left;
      display: block;
    }
    .google-maps {
      width: 96%;
      margin: 2%;
    }

    .footer-address {
      font-size: 1.5em;
      i {
        width: 10%;
      }
      p {
        width: 80%;
      }
    }
    a {
      text-align: center;
      font-size: .5em;
    }

  }
}

@media only screen and (min-width: 650px) {
  .footer-container {
    height: 100%;

    .footer-column-social, .footer-column-contact {
      margin: $pad 0;

      h3 {
        text-align: center;
        background-color: $color-primary;
        color: $color-font;
      }
    }

    .footer-column-social {
      height: calc(100%/1);
      width: calc(100%/2);

      ul li {
        padding: $pad*2 0 0 0;
        font-size: 2em;
        width: 25%;
        text-align: center;
      }
    }

    .footer-column-contact {
      height: calc(100%/1);
      width: calc(100%/2);

      .google-maps {
        padding: $pad 0 0 0;
      }

      .footer-address {
        font-size: 2em;
      }
    }
  }
}
