@import url('https://fonts.googleapis.com/css?family=Lato');

//main colors
$color-primary: #00BCD4;
$color-secondary: #6AB9C1;
$color-tertriary: #73AAA0;

$color-button: #6AB9C1;
$color-hover: #00BDC4;
$color-active: #73AAA0;
$color-font: #FFF;
$color-border: #77797B;

//form
$color-button-add: #DDFF99;
$color-button-add-border: #ccff66;
$color-button-update: #99ddff;
$color-button-update-border: #66ccff;
$color-category-container: #5bc0de;
//fonts
$font-main: 'Lato';
$fontface-sans-serif: sans-serif;
$fontface-fantasy: fantasy;

//error classes
$error-close-box: #e0acac;
$error-close-box-mouseover: #7c7e7f;
$error-box-background: #f2dede;
$error-box-border: #e8b3b0;
$error-box-text: #a94442;

//list items
$not-completed-button-border: #b9bbbf;
$completed-button-background: #a4f442;
//default colors
$color-white: #fff;
$color-black: #000;
$color-lightgrey: #e3e5e8;
$color-grey: #00A9BE;
$color-darkgrey: #77797B;

$pad: 0.5em;
