.login-form {
  margin-top: 50px;
  width: 100%;
}

.login-input {
  padding: 0.5em;
  border: 1px solid #e3e5e8;
  border-radius: 10px;
  margin-bottom: 0.5em;
  resize: none;
  width: 30%;
  margin: auto 2%;
}

.login-button {
  cursor: pointer;
  width: 20%;
  margin: auto 2%;
}
