// @import url('https://fonts.googleapis.com/css?family=Lato');
@import "../../../style/_main.scss";

.frontend-header {

}

.store-logo {
  width: 100px;
  margin-left: 50px;
  display: inline-block;
  position: static;
}
.cart-button {
  display: inline-block;
  width: 250px;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
.fa {
  width: auto;
}
.navigation {
  // border: 1px solid black;
  width: 30%;
  position: absolute;
  right: 20px;
  top: 80px;
}
.navigation-menu li{
  list-style-type: none;
  display: inline-block;
  width: auto;
  border-left: 1px solid $color-lightgrey;
  padding-left: 10px;
  font-family: $font-main;
}
